@font-face {
  font-family: "CoreSansC";
  src: url("./Fontspring-DEMO-coresansc25.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

#event-page {
  min-height: calc(100vh - 4rem);
  margin-top: 6rem;
}

.events-container {
  width: 100%;
  margin: auto;
  /* max-width: 300px; */
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--main-color);
}

.event-container-wrapper {
  flex-basis: 360px; /* Adjust the width of each container */
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.event-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 16px 0px;
  overflow: hidden;
  display: grid;
  grid-template:
    "image image image" 200px
    "content content content" 1fr
    "beat beat beat" 2rem / 200px 1fr 2rem;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

.event-container img {
  grid-area: image;
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
}

.events-container-title {
  font-size: 2.1rem;
  font-weight: 600;
  margin-left: 1rem;
  color: var(--main-color);
}

.event-details {
  grid-area: content;
  padding: 0.3rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-more-info {
  color: rgb(255, 75, 68);
  display: inline-block;
  margin: 4px 0 19px;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  text-decoration: none;
}

.event-more-info::after {
  content: " >";
}

.details h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
}

.details p {
  margin: 8px 0px 19px;
  color: rgb(158, 158, 158);
  /* font-family: CoreSansC; */
  /* font-family: "Barlow", sans-serif; */
  font-family: "Mulish", sans-serif;
  font-weight: 100;
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
}

.details h1 {
  text-align: center;
}
